.navbar {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(../assets/img/landing.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

.masthead {
  padding-top: 10.5rem;
  padding-bottom: 6rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(../assets/img/landing.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

.landing-head {
  color: white;
}
