.masthead,
.promo {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(../assets/img/landing.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

.landing-head {
  color: white;
}

.myfooter {
  background-color: #501e27;
}
